<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt_BR" lang="pt_BT">
<head>
<title>Página Inicial - Promottion</title>

<!--[if lt IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="/media/stylesheets/style.css" media="screen, projection" />
<link rel="stylesheet" href="/media/stylesheets/print.css" media="print" />
<link rel="shortcut icon" href="/media/img/favicon.ico"/>
<script src="/media/js/css_browser_selector.js" type="text/javascript"></script>
<script src="/media/js/jquery-1.6.1.min.js" type="text/javascript"></script>
{% block custom_header %}{% endblock custom_header %}

</head>
<body>
	<div class="menu">
	<!-- TODO: menu? -->
	</div>
	<div class="header">
		<a id="logo-home" href="/">
			<img alt="Promottion" title="Promottion" src="/media/img/logo.png"/>
		</a>
	</div>
	<div class="container">
		{% include "search.html" %}
		{% block top_tweets %}
		{% endblock top_tweets %}
		<div class="category">
			<img alt="Cadastro" title="Cadastro" src="/media/img/cadastro.png" />
			<div class="category-box">
				{% include "tweet_container.html" with category=1 header="Cadastro" %}
			</div>
		</div>
		<div class="category">
			<img alt="Retweets" title="Retweets" src="/media/img/retweet.png" />
			<div class="category-box">
				{% include "tweet_container.html" with category=2 header="Retuite" %}
			</div>
		</div>
		<div class="category">
			<img alt="Descontos" title="Descontos" src="/media/img/desconto.png" />
			<div class="category-box">
				{% include "tweet_container.html" with category=3 header="Desconto"%}
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>
</html>
