<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt_BR" lang="pt_BT">
<head>
<title>Página Inicial - Promottion</title>

<!--[if lt IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="/media/stylesheets/style.css" media="screen, projection" />
<link rel="stylesheet" href="/media/stylesheets/print.css" media="print" />
<script src="/media/js/jquery-1.6.1.min.js" type="text/javascript"></script>
{% block custom_header %}{% endblock custom_header %}

</head>
<body>
	<div class="header">
		{% block header %}
		{% endblock header %}
		
		{% block top_tweets %}
		{% endblock top_tweets %}
	</div>
	<div class="search-box">
	<!-- TODO: Fazer base do search -->
	</div>
	<div class="container">
		<div class="category-box">
			{% include "tweet_container.html" with category=1 header="Cadastro" %}
		</div>
	
		<div class="category-box">
			{% include "tweet_container.html" with category=2 header="Retuite" %}
		</div>
				
		<div class="category-box">
			{% include "tweet_container.html" with category=3 header="Desconto"%}
		</div>
	</div>
</body>
</html>
