{% extends "base.html" %}
{% block custom_header %}
<script type="text/javascript" src="/media/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/media/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/media/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="/media/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    <script language="javascript" type ="text/javascript">
        $(document).ready(function() {

            $("#various1").fancybox({
				'titlePosition'		: 'outside',
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
			});
        });
	</script>
{% endblock custom_header %}

{% block top_tweets %}
<div id="inline1" title="Top Promotions" class="topPromotions"">
    <p class="linksTweet" style="text-align:center; font-size:18px">Top Promotions</p>
</div>
{% endblock top_tweets %}
