{% extends "base.html" %}
{% block custom_header %}
<script type="text/javascript" src="/media/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/media/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/media/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<script language="javascript" type ="text/javascript">
    $(document).ready(function() {

        $("#top10").fancybox({
			'titlePosition'		: 'outside',
			'transitionIn'		: 'elastic',
			'transitionOut'		: 'elastic',
		});
    });
</script>
{% endblock custom_header %}

{% block top_tweets %}

<div class="block-top-tweets">
    <span>
        <a id="top10" href="#block-top">
        	<img alt="Top Tweets" title="Top Tweets" src="/media/img/top.png"/>
        </a>
    </span>
</div>

<div style="display: none">
	<div id="block-top" title="Top Promotions" class="fancy-tops">
		<p style="font-size:18px; text-align:center; font-family: 'Helvetica Neue',sans-serif">Top Promotions</p>
		<div id="top-promotions" class="top-promotions">
			<ol>
			{% for entry in top_tweets %}
				<li>
				{{ entry.get_tweet }}
				</li>
			{% endfor %}
			</ol>
		</div>
	</div>
</div>
{% endblock top_tweets %}
